.md-form {
    display: inline;
    vertical-align: top;
}
.panel-login .panel-body {
    min-height: 600px;
}

.table {
    background-color: #ffffff;
}

.fa, .fas {
    color: rgba(153, 153, 153, 0.9);
}

.navbar-nav li:hover {
	background: #bababa;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:hover .fa {
	color: #ffffff !important;
}
